.button {
    display: inline-block;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    padding: 12px 19px 12px 19px;
    background-color: #f31131;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #f5475e;
    }
}