.header {
    background-color: #ffffff;
}
.nav{
    padding-top: 15px;
    margin-bottom: 15px;
}
.link_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.link_head {
    color: #454851;
    font-family: 'Proxima Nova - Semibold';
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    text-decoration: none;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border: 1px solid #cccccc;
        opacity: 0.8;
        transform: rotate(45deg);
        position: absolute;
        top: 7px;
        right: -60px;
    }
    &:hover:after {
        border-color: blue;
        transform: rotate(320deg);
        transition: 0.7s;
    }
    &:hover {
        border-bottom: 2px solid blue;
        transition: 0.3s;
    }
}
.contact::after {
    display: none;
}
.logo::after {
    top: -4px;
}
.img_slid {
    width: 100%;
}
.fotorama__caption__wrap {
    background-color: rgba(0,0,0,0);
    text-align: center;
    margin-top: 24%;
    color: #ffffff;
    font-family: 'Proxima Nova - Semibold';
    font-size: 60px;
    line-height: 61px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.fotorama__caption {
    position: relative;
    text-align: center;
    justify-content: center;
}
.slider {
    position: relative;
}
.ticket {
    position: absolute;
    bottom: -60px;
    left: 50%;
    margin-left: -417px;
    display: inline-block;
    background-color: #ffffff;
    padding: 58px 39px 50px 39px;
}
.ticket_list {
    display: flex;
    flex-wrap: wrap;
}
.list_li {
    margin-left: 40px;
}
.opti {
    border: none;
    color: #454851;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 24px;
}
.select {
    width: 155px;
    height: 53px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image:  url(../img/dropdown_copy_2.png);
    background-repeat: no-repeat;
    background-position: 138px;
    border-bottom: 1px solid;
    opacity: 0.6;
    outline: none;
    margin-right: 19px;
    background-color: #ffffff;
    &:focus{
        opacity: 1;
    }
}
.input_box {
    position: relative;
    margin-left: 20px;
}
.submit {
    position: relative;
    top: 10px;
    z-index: 1;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    &:hover + .fake_input{
        background-color: #ff0000;
    }
}
.form {
    display: flex;
    flex-wrap: wrap;
}
.fake_input {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    background-color: #f31131;
    border-radius:50%;
    width: 40px;
    height: 40px;
}
@media (max-width:1140px) {
    .link_head::after {
        content: "";
        display: none;
    }
    .input_box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .submit {
        top: 0;
    }
    .fake_input {
        top: 0;
    }
}
@media (max-width:792px) {
    .fotorama__caption__wrap {
        margin-top: 10%;
    }

}
@media (max-width:767px) {
    .fotorama__caption__wrap {
        margin-top: 10%;
    }
    .fotorama__caption__wrap {
        font-size: 30px;
        line-height: 40px;
    }
    .ticket {
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: 0;
        display: inline-block;
        background-color: #ffffff;
        padding: 58px 39px 50px 39px;
    }
    .container {
        padding: 0 5px;
    }
    .form {
        text-align: center;
        flex-direction: reverse;
    }
    .input_box {
        display: inline-block;
        vertical-align: top;
    }
    .select {
        margin-bottom: 20px;
    }
    .slider {
        text-align: center;
    }
    .list_logo {
        order:-1;
    }
    .list {
        margin-right:10px ;
    }
    .link_block {
        justify-content: center;
    }
    .img_ligo {
        width: 270px;
    }
}
@media (max-width:597px) {
    .input_box {
        margin-top: -30px;
    }
}
@media (max-width:464px) {
    .input_box {
        margin-top: 20px;
    }
}
@media (max-width:420px) {
    .form {
        text-align: center;
        flex-direction: column;
    }
}