@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Light.eot");
    src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Light.woff2") format("woff2"),
        url("../fonts/ProximaNova-Light.woff") format("woff"), 
        url("../fonts/ProximaNova-Light.ttf") format("truetype"),
        url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kepler Std - Bold Disp';
    src: url('../fonts/KeplerStd-BoldDisp.eot');
    src: url('../fonts/KeplerStd-BoldDisp.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KeplerStd-BoldDisp.woff2') format('woff2'),
        url('../fonts/KeplerStd-BoldDisp.woff') format('woff'),
        url('../fonts/KeplerStd-BoldDisp.ttf') format('truetype'),
        url('../fonts/KeplerStd-BoldDisp.svg#KeplerStd-BoldDisp') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova - Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
