* {
    box-sizing: border-box;
}
body {
    font-family: "Proxima Nova";
    background-color: #ecf0f1;
}
.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    padding: 0 15px;
}
@import "font" ;
@import "header" ;
@import "main" ;
@import "button" ;
@import "footer" ;
@import "message" ;