@media (max-width: 1234px) {
  .head {
    justify-content: space-between;
  }
  .logo {
    margin: 22px 0 23px 0;
  }
  .link_menu {
    font-size: 9px;
  }
  .inputs {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .input {
    margin-bottom: 10px;
  }
  .quote {
    min-width: 288px;
  }
  .head_title {
    font-size: 30px;
  }
  .servicec_content:nth-child(2),
  .servicec_content:nth-child(4),
  .servicec_content:nth-child(6) {
    margin-left: 0;
  }
  .servicec_content:nth-child(6) {
    margin-left: 25px;
  }
  .servicec_content:nth-child(2),
  .servicec_content:nth-child(3),
  .servicec_content:nth-child(4),
  .servicec_content:nth-child(5) {
    margin-top: 79px;
  }
  .our_services {
    justify-content: center;
  }
  .about_background {
    flex-direction: column-reverse;
  }
  .read_more {
    margin-bottom: 20px;
  }
  .about_content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .work_table {
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 391px;
  }
  .card_bay {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .basic {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .premium {
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .card:hover {
    max-width: 100%;
    background-color: #ffffff;
    padding-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccd5df;
    border-radius: 5px;
  }
  .card_link:hover {
    background-color: $secondary-color;
  }
  .card:hover .card_title {
    color: #818b95;
  }
  .card:hover .dollar {
    color: #ffbb42;
  }
  .card:hover .num {
    color: #ffbb42;
  }
  .card:hover .month {
    color: #818b95;
  }
  .gold {
    position: relative;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .choos {
    padding-bottom: 20px;
  }
  .work {
    flex-direction: column;
    align-items: center;
  }
  .step:nth-child(1),
  .step:nth-child(2),
  .step:nth-child(3) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .work_layers {
    position: absolute;
    right: -90px;
    top: 360px;
    transform: rotate(85deg);
  }
  .work_layers_bottom {
    position: absolute;
    right: -90px;
    top: 360px;
    transform: rotate(-90deg);
  }
  .happy_block:nth-child(3),
  .happy_block:nth-child(4) {
    margin-bottom: 20px;
  }
  .contain_happy_block {
    flex-direction: column;
    align-items: center;
  }
  .happy_block:nth-child(1),
  .happy_block:nth-child(3) {
    margin-right: 0;
  }
  .map_img {
    width: 100%;
  }
  .address_block {
    top: -10px;
  }
  .footer_logo {
    top: 360px;
  }
  .footer_address_block {
    top: 2%;
  }
}
@media (max-width: 767px) {
  .head {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .background_head {
    padding-top: 50px;
  }
  .sub_main_title {
    font-size: 13px;
  }
  .link_menu {
    line-height: 20px;
  }
  .list_menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .head_title {
    font-size: 16px;
  }
  .request {
    margin-left: 0;
  }
  .quote {
    min-width: 252px;
  }
  .input {
    width: 250px;
    margin-right: 10px;
  }
  .bar {
    width: 146px;
    left: 50%;
    margin-left: -72px;
  }
  .fotorama {
    top: 4px;
    left: 50%;
    margin-left: -72px;
    width: 140px;;
  }
  .fotorama__img {
    width: 140px;;
    height: 79.6157px;
    left: 3px;
    top: 7.192135px;
  }
  .fotorama__stage__frame.fotorama__active {
    width: 140px;;
    height: 79.6157px;
    left: 3px;
    top: 7.192135px;
  }
  .fotorama__stage {
    width: 140px;
    min-height: 88px;

  }
  .vector {
    width: 200px;
    margin-top: 5px;
    left: 50%;
    margin-left: -100px;
  }
  .laptop {
    top: 30px;
  }
  .fotorama__nav-wrap {
    margin-top: 40px;
  }
  .main_title {
    font-size: 16px;
    margin-top: 100px;
  }
  .about {
    text-align: center;
    font-size: 16px;
  }
  .about_content {
    padding: 0 15px;
    margin-top: 100px;
  }
  .card {
    width: 100%;
  }
  .card_bay {
    margin-left: 0;
  }
  .card_title {
    font-size: 20px;
  }
  .card_list {
    width: 80%;
  }
  .main_title {
    margin-top: 0;
  }
  .happy {
    padding: 80px 0 20px 0;
  }
  .happy_block {
    padding: 0 15px;
  }
  .happy_color {
    margin-left: 0;
    font-size: 13px;
  }
  .happy_nocolor {
    font-size: 13px;
  }
  .footer_address_block {
    position: absolute;
    left: 40%;
    top: 0%;
  }
  .footer_inputs_box {
    margin-left: 0;
  }
  .main_title {
    margin-top: 100px;
  }
  .price {
    margin-top: 0;
  }
}
@media (max-width: 742px) {
  .footer_address_block {
    position: absolute;
    left: 30%;
    top: 0%;
  }
  .map_img {
    padding-bottom: 157px;
    margin-bottom: 68px;
  }
}
@media (max-width: 541px) {
  .footer_address_block {
    position: absolute;
    left: 20%;
    top: 0%;
  }
  .map_img {
    padding-bottom: 257px;
    margin-bottom: 68px;
  }
}
@media (max-width: 410px) {
  .footer_address_block {
    position: absolute;
    left: 15%;
    top: 0%;
  }
  .map_img {
    padding-bottom: 275px;
    margin-bottom: 28px;
  }
}
@media (max-width: 358px) {
  .footer_address_block {
    position: absolute;
    left: 10%;
    top: 0%;
  }
}
@media (max-width: 358px) {
  .footer_address_block {
    position: absolute;
    left: 2%;
    top: 0%;
  }
}
