.laptop {
  margin-top: 25px;
  position: relative;
  top: 60px;
  margin: auto;
}
.vector {
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -320px;
}
.slider {
  margin: 0 auto;
  position: absolute;
  top: 39px;
  left: 50%;
  margin-left: -220px;
  max-width: 455px;
}
.slides {
  padding: 5px;
}
.inner {
  width: 500%;
}
.page {
  float: left;
  width: 20%;
  position: relative;
}
.coffee {
  position: absolute;
  margin-left: 70px;
}
.Layer {
  position: absolute;
  margin-left: 185px;
}
.radio {
  text-align: center;
  margin-top: 85px;
}
.imag {
  max-width: 455px;
}

.overflow {
  overflow: hidden;
}
.controls {
  opacity: 0.3;
  cursor: pointer;
}
.contein {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contein .rad {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 110%;
  border: 2px solid #dedfe0;
}
.contein:hover .rad ~ .checkmark {
  background-color: #ccc;
}
.contein .rad:checked ~ .checkmark {
  border: 2px solid #1ca8dd;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.contein .rad:checked ~ .checkmark:after {
  display: block;
}
